.shiny-text {
  background: linear-gradient(120deg, #ffffff 30%, #a9a9a9 50%, #ffffff 70%);
  background-size: 200% auto;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
  -webkit-text-fill-color: transparent;
  animation: shine var(--shine-speed, 5s) linear forwards;
}

@keyframes shine {
  from {
    background-position: 200% center;
  }
  to {
    background-position: 0% center;
  }
}

.shiny-text.disabled {
  animation: none;
  color: inherit;
  -webkit-text-fill-color: inherit;
}
